html {
    height: 100% !important;
}

body {
    min-height: 100% !important;

    display: flex !important;
    flex-direction: column !important;
}

.nav-wrapper {
    background-color: transparent;
}

header {
    background: url(img/desk-top.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.btn-floating {
    background-color: #212121;
}

p {
    font-size: 20px !important;
}

.left {
    text-shadow: 2px 2px #212121;
}

.center-left {
    font-size: 80px;
    margin-top: 225px;
    text-shadow: 2px 2px #424242;
}

.tabs .indicator {
    background-color: #212121;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}

.row {
    margin-bottom: 100px;
}

.links {
    margin-top: 420px;
}

/* portfolio project images */

#swipe-1 {
    background-image: url(img/login.gif);
    height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
}
  
#swipe-2 {
    background-image: url(img/color_aura.png);
    height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
}
  
#swipe-3 {
    background-image: url(img/ron-banner-2000-x-600-left.png);
    height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
}

#swipe-4 {
    background-image: url(img/clickup.png);
    height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-5 {
    background-image: url();
    background-size:auto;
}

.project-6 {
    background-image: url();
    background-size:auto;
}

section.footer {
    max-height: 180px;
}

.footer-one {
    background:#424242;
    margin-top: auto !important;
}

@media screen and (max-width: 670px) {
    header{
        min-height: 500px;
    }
}